#addCategoryModal {
    width: auto;
    position: relative;
    margin: 2rem;
    justify-content: center;
}
 .modal-footer {
    margin: 1rem;
 }
  
 .btn {
     margin-right: 2rem;
 }

 .category-admin-header {
    display: inline-flex;
 } 

.add-button {
    position: fixed;
    right: 2rem;
    margin-top: 1rem;
}